.flight-list-container {
    margin-top: 20px;
}

.flight-list-title {
    font-size: 20px;
    font-weight: bold;
}

.flight-list {
    list-style-type: none;
    padding: 0;
}

.flight-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.flight-details {
    display: flex;
    flex-direction: column;
}

.flight-info {
    margin-bottom: 5px;
}

.select-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}